* {
  box-sizing: border-box;
  font-family: DM Sans;
}

body {
  /* border: 1px solid rgb(255, 0, 0); */
  padding: 30px 60px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  /* border: 2px solid green; */
  margin: 5px 2px 10px 2px;

  display: flex;
  justify-content: flex-start;
}

.logo2 {
  height: 50px;
  width: 200px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-direction: column;
  height: 90%;
  /* border: 2px solid rgb(3, 81, 136); */
}

.encartPhotographe {
}

.encartPhotographe2 {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  height: 300px;
  margin: 34px 2px 10px 2px;
  /* border: 2px solid blue; */
}

.divInfo {
  width: 30%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid black; */
  margin: 3px;
}

.divInfo__nom {
  margin-bottom: 0px;
  font-family: DM Sans;
  font-size: 30px;
  font-weight: 400;
  color: #d3573c;
}

.divInfo__cityCountry {
  margin-bottom: 0px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  color: #d3573c;
}

.divInfo__tagline {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #555252;
}

.divFormulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  /* border: 2px solid black; */
  margin: 3px;
}

.divFormulaire__button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 140px;
  height: 55px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.divPhoto {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  /* border: 2px solid black; */
  margin: 3px;
}

.divPhoto__photo {
  object-fit: cover;
  height: 175px;
  width: 175px;
  border-radius: 50%;
}











.sectionTris {
  display: flex;
    
}

.trierPar {

  margin-right: 40px;
  cursor: pointer;
}

.menuTri.show3 {
  display: initial;
}

.menuTri {
  /* display: none; A DECOMENTER EN PRODUCTION, JE COMMENTE POUR POUVOIR MONTRER ET 
  EXPLIQUER LE BEUG */
  background-color: #901C1C;
  width: 125px;
}

.menuTri ul {
  list-style: none;
  padding: 0;
  margin: 0 8px;
}


.menuTri ul li {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
}

.menuTri ul li a {
  font-family: DM Sans;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.triSymbol {
  color: white;
  float: right;
  opacity: 0;
  transition: opacity 0.3s;
}


.menuTri ul li:last-child {
   border-bottom: none; /* Supprimer la ligne sous le dernier élément */
}


.menuTri ul li:hover .triSymbol {
   opacity: 1; /* Afficher le symbole au survol */
}












.sectionMedia {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 10px 2px 50px 2px;
  /* border: 2px solid gray; */
}

.sectionMedia__article {
  /* border: 2px solid gray; */
  margin: 2px 5px 2px 3px;
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__figure {
  /* border: 2px solid gray; */
  margin: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.figure__lien {
  /* border: 2px solid gray; */
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.lienMedia__media {
  /* border: 2px solid gray; */
  margin: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.figure__figCaption {
  /* border: 2px solid gray; */
  margin: 2px;
  display: flex;
}

.figcaption__titreMed {
  font-family: DM Sans;
  font-size: 15px;
  letter-spacing: 0em;
  text-align: left;
  /* border: 2px solid gray; */
  margin: 2px;
  width: 70%;
  color: #901c1c;
}

.figcaption__Div {
  /* border: 2px solid gray; */
  margin: 2px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.divFigcap__date {
  visibility: hidden;
  width: 0;
  height: 0;
}

.divFigcap__likes {
  /* border: 2px solid gray; */
  margin: 2px;
  color: #901c1c;
  font-family: DM Sans;
  font-size: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.divFigcap__lienCoeur {
  /* border: 2px solid gray; */
  margin: 2px;
  cursor: pointer;
}

.fa-solid {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.sectionMedia__comptabilité {
  border: 2px solid gray;
  margin: 2px;
  height: 40px;
  width: 200px;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comptabilité__nbrLikes {
  /* border: 2px solid gray; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px;
  width: 50%;
}

.nbrLikes__somme {
  margin-right: 10px;
}

.nbrLikes__iconeCoeur.fa-solid {
  color: black;
  font-size: 10px;
}

.comptabilité__Prix {
  margin-right: 10px;
  width: 50%;
  text-align: right;
}
